{% extends "base.html" %}

{% block head %} 

{% load crispy_forms_tags %} 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
{% endblock %}

{% block title %} Vote Page Form {% endblock %}

{% block content %}

<center>
<h1>Vote Page</h1>

<p>
{{question.question_text}}
</p>

</center>

<div class="d-flex justify-content-center">

    {% crispy form %}

</div>

{% endblock %}
