{% extends "base.html" %}

{% block title %} Chat Page {% endblock %}

{% block content %}

<div class="jumbotron">
  <h1 id="header">{{msg}}</h1>
</div>

{% load static %}

  <p> Chatlog: </p>

  <div class="container mt-3" id="chatlog">

    <!--
      https://www.w3schools.com/bootstrap4/bootstrap_media_objects.asp
     -->

  </div>

  <br><br>
  <label for="uname">Username:</label>
  <input type="text" name="uname" id="username"> <br> <br>
  <label for="msg">Messaggio:</label>
  <input type="text" name="msg" id="msg"> <br> <br>

  <button onclick="btnClick()">Chatta</button>


<script>

function sanitizeString(input) {
  const sanitizedString = input.replace(/[<>&"'`]/g, '');
  return sanitizedString;
}

var socket = new WebSocket('ws://127.0.0.1:8000/ws/chatws/' + document.querySelector("#header").innerHTML + '/');

var roomUsersColors = {};

socket.onmessage = function(event){

  var container = document.querySelector("#chatlog");
  var data = JSON.parse(event.data);
  var data_user = sanitizeString(data["user"]);
  var data_msg = sanitizeString(data["msg"]);

  if(roomUsersColors[data_user]==undefined)
    roomUsersColors[data_user] = Math.random() * 360;

  var chatMsg = document.createElement("div");
  chatMsg.className = "media border p-3"; 
  var img = document.createElement("img");
  img.src = "http://127.0.0.1:8000/static/imgs/img_avatar3.png";
  img.alt = data_user;
  img.className = "mr-3 mt-3 rounded-circle"
  img.style = "width:60px;filter:hue-rotate("+ roomUsersColors[data_user] +"deg);";
  var innerDiv = document.createElement("div");
  innerDiv.className = "media-body";

  var ts = new Date();
  innerDiv.innerHTML =    "<h4>" + data_user + " <small><i>" + 
                              ts.getHours()+":"+ts.getMinutes()+":"+ts.getSeconds() + " </i></small></h4>" + 
                              "<p>" + data_msg + "</p>";

  chatMsg.appendChild(img);
  chatMsg.appendChild(innerDiv);
  container.appendChild(chatMsg);

}

function btnClick() {

    var obj = new Object();
    obj.user = sanitizeString(document.querySelector('#username').value);
    obj.msg = sanitizeString(document.querySelector('#msg').value);
    var string = JSON.stringify(obj);
    socket.send(string);
    document.querySelector('#username').disabled = true
    document.querySelector('#msg').value = "";

  }

</script>

{% endblock %}