{% extends "base.html" %}

{% block title %} Chat Page {% endblock %}

{% block content %}

<h1>   {{msg}}  </h1>


  <label for="uname">Username:</label>
  <input type="text" name="uname" id="username"> <br> <br>
  <label for="msg">Messaggio:</label>
  <input type="text" name="msg" id="msg"> <br> <br>

  <p> Chatlog: </p>

  <textarea id="chatlog" rows="20" cols="50">
  </textarea>

<br>
  <button onclick="btnClick()">Chatta</button>


<script>

var socket = new WebSocket('ws://127.0.0.1:8000/ws/chatws/')

function sanitizeString(input) {
  const sanitizedString = input.replace(/[<>&"'`]/g, '');
  return sanitizedString;
}

socket.onmessage = function(event){

  var data = event.data;
  var d = document.querySelector('#chatlog');
  d.value =  sanitizeString(data) + '\r\n';
  
}

function btnClick() {
    var obj = new Object();
    obj.user = sanitizeString(document.querySelector('#username').value);
    obj.msg  = sanitizeString(document.querySelector('#msg').value);
    var string = JSON.stringify(obj);
    socket.send(string);
    document.querySelector('#username').disabled = true;
    document.querySelector('#msg').value = "";

  }

  var intervalId = setInterval(function() {
    socket.send("UPDATE");
    }, 1);

</script>

{% endblock %}