.paragrafo{
    background-color: #f6f6f6;
    padding: 10px;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    height: 60px;
    margin-top: 20px;
}

p{
    margin-bottom: 0px;
    line-height: 40px;
}

.campo{
    font-weight: 500;
}

.immagineProfilo {
    width: 100px;
    border: 1px solid #090909;
    border-radius: 50%;
    object-fit: cover;
}

.immagine{
    display: table;
}

.box{
    vertical-align: middle;
    display: table-cell;
}