#id_prezzo,#message{
    width: 35%;
    margin: auto;
}

#message{
    margin-bottom: 15px;
}

.voto{
    margin: auto;
    width: 15%;
}

.testo{
    margin: auto;
    width: 50%;
    resize: none;
}

.commento{
    word-wrap: break-word;
    text-align:left;
    width:50%;
    margin:auto;
}