body {
    overflow-x:hidden;
}

#acquista, #offri, #proponi,#vendi{
    padding: 10px;
}

.info{
    background-color: #e3e6e8;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #f8f9fa;
}

.contenitore{
    padding: 15px;
    border-radius: 10px;
    background-color: #f2f2f2;
    border: 1px solid #f8f9fa;
}

.container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.propostaMinore{
    font-weight: 500;
    color: rgb(220, 83, 83);
}

.offertaMaggiore{
    font-weight: 500;
    color: rgb(115, 220, 83);
}

.infos{
    margin-top: 10%;
}