{% extends 'basebs.html' %}

{% load crispy_forms_tags %} 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 

{% block title %} Dettagli di {{object.titolo}} {% endblock %} 

{% block header1 %}
  <h1> {{object}}</h1>
{% endblock %}

{% block content %} 

<br>
<div class="card">
  <div class="card-header">
     Libro con id {{ object.pk }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ object.titolo }} di {{object.autore}} </h5>
    <p class="card-text"> 
      <ul>
            {% for c in object.copie.all %}

            <li>  Copia con id: {{c.pk}} 
               {% if c.data_prestito  %}
                 in prestito a {{ c.utente.username }} dal {{ c.data_prestito }}
               {% else %} 
                  Attualmente non in prestito.
                {% endif %}
            </li>

            {% endfor %}
      </ul>
    </p>
  </div>
</div>
<br>


{% endblock %}
