{% extends "base.html" %}

{% block head %} 
{% load static %}
<link rel="stylesheet" type="text/css" href='{% static "/css/style.css" %}'>
{% endblock %}

{% block title %}{{title}}{% endblock %}

{% block content %}

    <center>
    <h1>{{title}}</h1>

    {% if listalibri.count > 0 %}
        <p> Ci sono ben {{listalibri.count}} libri in questa biblioteca! </p>
        <ul>
        {% for l in listalibri %}

            <li>{{ l.titolo }} di {{l.autore}} <br>
            {# <a href="/gestione/prestito/{{l.titolo}}/{{l.autore}}/">Prestito</a>  #}
            {# <a href="/gestione/restituzione/{{l.titolo}}/{{l.titolo}}/">Restituzione</a> #}
            <a href="{% url 'gestione:prestalibro' l.titolo l.autore %}">Prestito</a>
            <a href="{% url 'gestione:restlista' l.titolo l.autore %}">Restituzione</a>
            </li>
            

        {% endfor %}
        </ul>
        
    {% else %}
        <p>Non ci sono libri!</p>
    {% endif %}

    </center>

{% endblock %}