{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="row">
        {% for prod in catalogo %}
                <div class="col-sm-3">
                    <div class="card">
                        <img src="{{ prod.immagine }}" class="card-img-top" style="width: 9rem; margin:auto" alt="...">
                        <div class="card-body">
                            <p class="card-body">{{ prod.titolo }}</p>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
{% endblock %}
