{% extends "base.html" %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/catalogo.css' %}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div id='titolo' class="container">
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">HypeMarket</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8000/sneakers/catalogo?p=1">Catalogo</a>
                    </li>
                </ul>
            </div>
            </div>
        </nav>
    </div>
    <div id='catalogo' class="container">
        <div class="row">
            <div class="col-12">
                <div class="row small-gutters">
                    {% for prod in catalogo %}
                            <a class="col col-6 col-md-4 col-lg-3 mb-4" href="http://localhost:8000/sneakers/{{prod.idModello}}">
                                <img src="{{ prod.immagine }}" class="imgProd" alt="...">
                                <p class="titoloProd">{{ prod.titolo }}</p>
                            </a>
                    {% endfor %}
                </div>
            </div>
            <nav class="naviga">
                <ul class="pagination">
                    {% if pagina == 1 %}
                        <li class="page-item disabled"><a class="page-link"><i class="bi bi-arrow-left"></i></a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="http://localhost:8000/sneakers/catalogo?p={{paginaMeno1}}"><i class="bi bi-arrow-left"></i></a></li>
                    {% endif %}
                    <li class="page-item active"><a class="page-link" href="http://localhost:8000/sneakers/catalogo?p={{pagina}}">{{pagina}}</a></li>

                    {% if paginaPiu1 <= paginaMax %}
                        <li class="page-item"><a class="page-link" href="http://localhost:8000/sneakers/catalogo?p={{paginaPiu1}}">{{paginaPiu1}}</a></li>
                    {% endif %}

                    {% if paginaPiu2 <= paginaMax %}
                        <li class="page-item"><a class="page-link" href="http://localhost:8000/sneakers/catalogo?p={{paginaPiu2}}">{{paginaPiu2}}</a></li>
                    {% endif %}

                    {% if pagina == paginaMax %}
                        <li class="page-item disabled" ><a class="page-link" ><i class="bi bi-arrow-right"></i></a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="http://localhost:8000/sneakers/catalogo?p={{paginaPiu1}}"><i class="bi bi-arrow-right"></i></a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
