{% extends 'base.html' %}

{% block head %}
    {% load crispy_forms_tags %}
    {% load static %}
    <link rel='stylesheet' href="{% static '/css/home.css' %}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{{block.super}}
    <div class='container'>
        <div class='row mt-4'>
            <div class='col-2'></div>
            <div class='col-8'>
                <img src="{% static '/img/logo.png' %}" class='img-fluid' alt='logo'>
                <h2 class='text-center mt-5'> Cerca le tue sneakers preferite! </h2>
                <form method='post'> {% csrf_token %}
                    <div class='row mt-5'>
                        <div class='col-10'>
                            <div>{{form|crispy}}</div>
                        </div>
                        <div class='col-2'>
                            <button type='submit' class='pulsanti btn btn-dark w-100' ><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class='col-2'></div>
            <h3> Le più acquistate </h3>
            <div class='row mt-3'>
                {% for topSeller in topSellers %}
                    <div class='col-3'>
                        {% if wishlist %}
                            {% for prodotto in wishlist %}
                                {% if prodotto.idModello == topSeller.prodotto.idModello %}
                                    <a class='cuore position-absolute' href='/utente/preferiti/{{topSeller.prodotto.idModello}}'> <i class="h4 bi bi-heart-fill"></i> </a>
                                {% else %}
                                    <a class='cuore position-absolute' href='/utente/preferiti/{{topSeller.prodotto.idModello}}'> <i class="h4 bi bi-heart"></i> </a>
                                {% endif %}
                            {% endfor %}
                        {%else%}
                            <a class='cuore position-absolute' href='/utente/preferiti/{{topSeller.prodotto.idModello}}'> <i class="h4 bi bi-heart"></i> </a>
                        {% endif %}
                        <div class='row text-center'>
                            <a href='/sneakers/{{topSeller.prodotto.idModello}}'><img src='{{ topSeller.prodotto.immagine }}' class='imgProd'></a>
                            <p class='titoloProd'>{{ topSeller.prodotto.titolo }}</p>
                        </div>
                    </div>
                {% endfor%}
            </div>
            <h3 class='mt-5'> Quelle con voti più alti </h3>
            <div class='row mt-3 mb-5'>
                {% for prodotto in topRated %}
                    <div class='col-3'>
                        {% if wishlist %}
                            {% for prodotto in wishlist %}
                                {% if prodotto.idModello == prodotto.idModello %}
                                    <a class='cuore position-absolute' href='/utente/preferiti/{{prodotto.idModello}}'> <i class="h4 bi bi-heart-fill"></i> </a>
                                {% else %}
                                    <a class='cuore position-absolute' href='/utente/preferiti/{{prodotto.idModello}}'> <i class="h4 bi bi-heart"></i> </a>
                                {% endif %}
                            {% endfor %}
                        {%else%}
                            <a class='cuore position-absolute' href='/utente/preferiti/{{prodotto.idModello}}'> <i class="h4 bi bi-heart"></i> </a>
                        {% endif %}
                        <div class='row text-center'>
                            <a href='/sneakers/{{prodotto.idModello}}'><img src='{{ prodotto.immagine }}' class='imgProd'></a>
                            <p class='titoloProd'>{{ prodotto.titolo }}</p>
                        </div>
                    </div>
                {% endfor%}
            </div>                      
        </div>
{% endblock %}
