{% extends 'base.html' %}

{% block head %}
    {% load crispy_forms_tags %}
    {% load static %}
    <link rel='stylesheet' href="{% static '/css/vendita.css' %}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{{block.super}}
    <div class='container' style='white-space: nowrap;'>
        <div class='row'> 
            <div class='col-lg-2'></div>
            <div class='col-lg-8'>
                <div class='row'>
                    <div class='col-12 text-center'>
                        <h2>
                            {% if offerta %}
                                Offerta
                            {% elif vendita %}
                                Vendita
                            {% elif proposta %}
                                Proposta
                            {% endif %}
                        </h2>
                        <br>
                        <h5>{{ prodotto.titolo }}</h5>
                        <img src='{{ prodotto.immagine }}'>
                        <h6>Taglia: {{ taglia.taglia }}</h6>
                        <h6>ID: {{ prodotto.idModello }}€</h6>
                        <br>
                        <h4><b>
                            {% if vendita %}
                                PAYOUT: 
                            {% elif offerta %}
                                {% if taglia.offertaMaggiore != 'None'%}
                                    OFFERTA PIÙ ALTA: {{taglia.offertaMaggiore}} €
                                {% else %}
                                    NON È PRESENTE ALCUNA OFFERTA
                                {% endif %}
                            {% elif proposta %}
                                {% if taglia.propostaMinore != 'None'%}
                                    PROPOSTA PIÙ BASSA: {{taglia.propostaMinore}} €
                                {% else %}
                                    NON È PRESENTE ALCUNA PROPOSTA
                                {% endif %}
                            {% endif %} 
                        </b></h4>
                    </div>
                    <div class='row mt-4'>
                        <div class='col-5'>
                            <div class='col-12 text-center mb-4'>
                                {% if vendita or proposta%}
                                    <h4>Indirizzo di fatturazione</h4>
                                {% else %}
                                    <h4>Indirizzo di spedizione</h4>
                                {% endif %}
                            </div>
                            <div class='row'>
                                <div class='col-6 text-left'>
                                    <p><b> Nome </b> </p>
                                    <p><b> Cognome </b> </p>
                                    <p><b> Via </b> </p>
                                    <p><b> Città </b> </p>
                                    <p><b> CAP </b> </p>
                                    <p><b> Provincia </b> </p>
                                    <p><b> Nazione </b> </p>
                                    <p><b> Telefono </b> </p>
                                </div>
                                <div class='col-6 text-left'>
                                    <p> {{ indirizzo.nome }}</p>
                                    <p> {{ indirizzo.cognome }}</p>
                                    <p> {{ indirizzo.via }}</p>
                                    <p> {{ indirizzo.citta }}</p>
                                    <p> {{ indirizzo.cap }}</p>
                                    <p> {{ indirizzo.provincia }}</p>
                                    <p> {{ indirizzo.nazione }}</p>
                                    <p> {{ indirizzo.telefono }}</p>
                                </div>
                            </div>
                        </div>
                        <div class='col-2'></div>
                        <div class='col-5'>
                            <div class='col-12 text-center mb-4'>
                                {% if vendita or proposta%}
                                    <h4>Coordinate bancarie</h4>
                                {% else %}
                                    <h4>Carta di pagamento</h4>
                                {% endif %}
                            </div>
                            <div class='row'>
                                <div class='col-6 text-left'>
                                    {% if vendita or proposta %}
                                        <p><b> Nome </b> </p>
                                        <p><b> Cognome </b> </p>
                                        <p><b> IBAN </b> </p>
                                        <p><b> Banca </b> </p>
                                    {% else %}
                                        <p><b> Nome </b> </p>
                                        <p><b> Cognome </b> </p>
                                        <p><b> Numero </b> </p>
                                        <p><b> Scadenza </b> </p>
                                        <p><b> CVV </b> </p>
                                    {% endif %}
                                </div>
                                <div class='col-6 text-left'>
                                    {% if vendita or proposta %}
                                        <p> {{ banca.nome }} </p>
                                        <p> {{ banca.cognome }}</p>
                                        <p> {{ banca.iban }}</p>
                                        <p> {{ banca.banca }}</p>
                                    {% else %}
                                        <p> {{ carta.nome }} </p>
                                        <p> {{ carta.cognome }}</p>
                                        <p> {{ carta.numero }}</p>
                                        <p> {{ carta.scadenzaMese }} / {{ carta.scadenzaAnno }}</p>
                                        <p> {{ carta.cvv }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='col-12 text-center'>
                        {%if vendita %}
                            <h5> !!! IMPORTANTE !!! </h5>
                            <h6> ** È NECESSARIO SPEDIRE IL PRODOTTO ENTRO 3 GIORNI LAVORATIVI **</h6>
                        {%elif acquisto %}
                            <h6> ** ARRIVO STIMATO 5-10 GIORNI LAVORATIVI **</h6>
                        {%endif%}
                    </div>
                        
                    <div class='col-12 text-center'>
                        <form method='post'> {% csrf_token %}
                            {{form|crispy}}
                            {% if messages %}
                                {% for message in messages %}
                                    <div class='alert alert-danger' id='message' role='alert'>{{ message }}</div>
                                {% endfor %}
                            {% endif %}
                            <button type='button' class='pulsanti btn btn-danger w-10' onclick="window.location.href='/sneakers/{{ prodotto.idModello }}'" ><i class="bi bi-arrow-left"></i></button>
                            <button type='submit' class='pulsanti btn btn-dark w-25'>
                                {%if vendita%}
                                    VENDI
                                {%elif offerta%}
                                    OFFRI
                                {%elif proposta%}
                                    PROPONI
                                {%endif%}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class='col-lg-2'></div>
        </div>
    </div>
{% endblock %}
