{% extends 'base.html' %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/account.css' %}">
{% endblock %}
{% block title %}Profilo{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <h2 class='text-center'>Profilo</h2>
            <div class='row'>
                <div class='col-md-3'>
                </div>
                <div class='col-md-6'>
                    <div class='row'>
                        <div class='col-3'>
                            <p>Nome</p>
                            <p>{{ utente.nome }}</p>
                        </div> 
                        <div class='col-3'>
                            <p>Cognome</p>
                            <p>{{ utente.cognome }}</p>
                        </div>
                        <div class='col-3'>
                            <p>Email</p>
                            <p>{{ utente.email }}</p>
                        </div>
                        <div class='col-3'>
                            <button type="button" class=" btn btn-primary" >Cambia password</button>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-10'>
                            <p>Indirizzo di spedizione</p>
                        </div>
                        <div class='col-2'>
                            <button type="button" class=" btn btn-primary" onclick="location.href = 'http://localhost:8000/utente/account/modifica-indirizzo'">Modifica</button>
                        </div>
                        <div class='row'>
                            <div class='col-4'>
                                <p>Nome</p>
                                <p>{{ indirizzoSpedizione.nome }} {{ indirizzoSpedizione.cognome }}</p>
                            </div>
                            <div class='col-4'>
                                <p>Indirizzo</p>
                                <div>
                                    <p>{{ indirizzoSpedizione.via }}<p>
                                    <p>{{ indirizzoSpedizione.citta }}<p>
                                    <p>{{ indirizzoSpedizione.provincia }}<p>
                                    <p>{{ indirizzoSpedizione.cap }}<p>
                                    <p>{{ indirizzoSpedizione.nazione }}<p>
                                </div>
                            </div>
                            <div class='col-4'>
                                <p>Numero di telefono</p>
                                <p>{{ indirizzoSpedizione.telefono }} </p>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-10'>
                            <p>Indirizzo di fatturazione</p>
                        </div>
                        <div class='col-2'>
                            <button type="button" class=" btn btn-primary" onclick="location.href = 'http://localhost:8000/utente/account/modifica-indirizzo?tipo='">Modifica</button>
                        </div>
                        <div class='row'>
                            <div class='col-4'>
                                <p>Nome</p>
                                <p>{{ indirizzoFatturazione.nome }} {{ indirizzoFatturazione.cognome }}</p>
                            </div>
                            <div class='col-4'>
                                <p>Indirizzo</p>
                                <div>
                                    <p>{{ indirizzoFatturazione.via }}<p>
                                    <p>{{ indirizzoFatturazione.citta }}<p>
                                    <p>{{ indirizzoFatturazione.provincia }}<p>
                                    <p>{{ indirizzoFatturazione.cap }}<p>
                                    <p>{{ indirizzoFatturazione.nazione }}<p>
                                </div>
                            </div>
                            <div class='col-4'>
                                <p>Numero di telefono</p>
                                <p>{{ indirizzoFatturazione.telefono }} </p>
                            </div>
                            <div class='col-4'>
                                <p>Data di nascita</p>
                                <p>{{ utente.dataNascita }} </p>
                            </div>       
                            <div class='col-4'>
                                <p>Partita IVA</p>
                                <p>{{ utente.pIva }} </p>
                            </div>                    
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-10'>
                            <p>Dati bancari</p>
                        </div>
                        <div class='col-2'>
                            <button type="button" class=" btn btn-primary" onclick="location.href = 'http://localhost:8000/utente/account/modifica-indirizzo'">Modifica</button>
                        </div>
                        <div class='row'>
                            <div class='col-4'>
                                <p>Intestatario</p>
                                <p>{{ banca.nome}}{{ banca.cognnome }}</p>
                            </div>
                            <div class='col-4'>
                                <p>IBAN</p>
                                <div>
                                    <p>{{ banca.iban }}<p>
                                </div>
                            </div>
                            <div class='col-4'>
                                <p>Nome della banca</p>
                                <p>{{ banca.nome }} </p>
                            </div>                 
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-10'>
                            <p>Metodo di pagamento</p>
                        </div>
                        <div class='col-2'>
                            <button type="button" class=" btn btn-primary" onclick="location.href = 'http://localhost:8000/utente/account/modifica-indirizzo'">Modifica</button>
                        </div>
                        <div class='row'>
                            <div class='col-3'>
                                <p></p>
                                <p>{{ carta.nome}}{{ carta.cognnome }}</p>
                            </div>
                            <div class='col-3'>
                                <p>Numero</p>
                                <div>
                                    <p>{{ carta.numero }}<p>
                                </div>
                            </div>
                            <div class='col-3'>
                                <p>Data di scadenza</p>
                                <p>{{ carta.scadenza }} </p>
                            </div>
                            <div class='col-3'>
                                <p>CVV</p>
                                <p>{{ carta.cvv }} </p>
                            </div>                 
                        </div>
                    </div>
                </div>
                <div class='col-md-3'>
                </div>
            </div>
        </div>
    </div>
{% endblock %}