{% extends 'base.html' %}
{% block head %}
    {% load static %}
    <link rel='stylesheet' href="{% static '/css/account.css' %}">
{% endblock %}
{% block title %}Profilo{% endblock %}
{% block content %}
{{block.super}}
    <div class='container'>
        <div class='row'>
            <div class='col-md-2'>
            </div>
            <div class='col-md-8'>
                <h2 class='text-center'>Profilo</h2>
                
                <div class='row paragrafo'>
                    <div class='col-10'>
                        <p>Dati personali</p>
                    </div>
                    <div class='col-2 text-center'>
                        <div class='row w-75'>
                            <div class='col-6'>
                                <button type='button' onclick="location.href = '/utente/account/elimina/informazioni'" class='btn btn-danger'><i class="bi bi-trash-fill"></i></button>
                            </div>
                            <div class='col-6'>
                                <button type='button' class=' btn btn-secondary' onclick="location.href = '/utente/account/modifica/informazioni'"><i class='bi bi-pencil'></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='row'>
                    <div class='col-4 text-center immagine'>
                        <div class='box'>
                            {% if immagineProfilo %}
                                <img src='.{{immagineProfilo.url}}' class='img-fluid immagineProfilo'>
                            {% else %}
                                <img src='{% static "/img/defaultPic.png" %}' class='img-fluid immagineProfilo'>
                            {% endif %}
                        </div>
                    </div>
                    <div class='col-8'>
                        <div class='row'>
                            <div class='col-6'>
                                <p class='campo'>Username</p>
                                {{ utente.username }}
                                <p class='campo'>Nome</p>
                                {{ utente.nome }}
                                <p class='campo'>Data di nascita</p>
                                {% if  utente.dataNascita %}
                                    {{ utente.dataNascita }}
                                {%else%}
                                    **/**/****
                                {% endif %}
                            </div>
                            <div class='col-6'>
                                <p class='campo'>Email</p>
                                {{ utente.email }}
                                <p class='campo'>Cognome</p>
                                {{ utente.cognome }}
                                <p class='campo'> Numero iva</p>
                                {% if  utente.pIva %}
                                    {{ utente.pIva }}
                                {%else%}
                                    **********
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class='row paragrafo'>
                    <div class='col-10'>
                        <p>Indirizzo di spedizione</p>
                    </div>
                    <div class='col-2 text-center'>
                        <div class='row w-75'>
                            <div class='col-6'>
                                <button type='button' onclick="location.href = '/utente/account/elimina/indirizzo-spedizione'" class='btn btn-danger'><i class="bi bi-trash-fill"></i></button>
                            </div>
                            <div class='col-6'>
                                <button type='button' class=' btn btn-secondary' onclick="location.href = '/utente/account/modifica/indirizzo-spedizione'"><i class='bi bi-pencil'></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-4'>
                        <p class='campo'>Nome</p>
                        {% if indirizzoSpedizione %}
                            {{ indirizzoSpedizione.nome }} {{ indirizzoSpedizione.cognome }}
                        {%else%}
                            **** ****
                        {% endif %}
                    </div>
                    <div class='col-4'>
                        <p class='campo'>Indirizzo</p>
                        {% if indirizzoSpedizione %}
                            <div>
                                {{ indirizzoSpedizione.via }}<br>
                                {{ indirizzoSpedizione.citta }}<br>
                                {{ indirizzoSpedizione.provincia }}<br>
                                {{ indirizzoSpedizione.cap }}<br>
                                {{ indirizzoSpedizione.nazione }}<br>
                            </div>
                        {%else%}
                            ************ <br>
                            *********** <br>
                            ********** <br>
                            ********* <br>
                            ******** <br>
                        {% endif %}
                    </div>
                    <div class='col-4'>
                        <p class='campo'>Cellulare</p>
                        {% if indirizzoSpedizione %}
                            {{ indirizzoSpedizione.telefono }}
                        {%else%}
                            ********
                        {% endif %}
                    </div>
                </div>

                <div class='row paragrafo'>
                    <div class='col-10'>
                        <p>Indirizzo di fatturazione</p>
                    </div>
                    <div class='col-2 text-center'>
                        <div class='row w-75'>
                            <div class='col-6'>
                                <button type='button' onclick="location.href = '/utente/account/elimina/indirizzo-fatturazione'" class='btn btn-danger'><i class="bi bi-trash-fill"></i></button>
                            </div>
                            <div class='col-6'>
                                <button type='button' class=' btn btn-secondary' onclick="location.href = '/utente/account/modifica/indirizzo-fatturazione'"><i class='bi bi-pencil'></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-4'>
                        <p class='campo'>Nome</p>
                        {% if indirizzoFatturazione %}
                            {{ indirizzoFatturazione.nome }} {{ indirizzoFatturazione.cognome }}
                        {%else%}
                            **** ****
                        {% endif %}
                    </div>
                    <div class='col-4'>
                        <p class='campo'>Indirizzo</p>
                        {% if indirizzoFatturazione %}
                            <div>
                                {{ indirizzoFatturazione.via }}<br>
                                {{ indirizzoFatturazione.citta }}<br>
                                {{ indirizzoFatturazione.provincia }}<br>
                                {{ indirizzoFatturazione.cap }}<br>
                                {{ indirizzoFatturazione.nazione }}<br>
                            </div>
                        {%else%}
                            ************ <br>
                            *********** <br>
                            ********** <br>
                            ********* <br>
                            ******** <br>
                        {% endif %}
                    </div>
                    <div class='col-4'>
                        <p class='campo'>Cellulare</p>
                        {% if indirizzoFatturazione %}
                            {{ indirizzoFatturazione.telefono }}
                        {%else%}
                            ********
                        {% endif %}
                    </div>               
                </div>

                <div class='row paragrafo'>
                    <div class='col-10'>
                        <p>Dati bancari</p>
                    </div>
                    <div class='col-2 text-center'>
                        <div class='row w-75'>
                            <div class='col-6'>
                                <button type='button' onclick="location.href = '/utente/account/elimina/banca'" class='btn btn-danger'><i class="bi bi-trash-fill"></i></button>
                            </div>
                            <div class='col-6'>
                                <button type='button' class=' btn btn-secondary' onclick="location.href = '/utente/account/modifica/banca'"><i class='bi bi-pencil'></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-3'>
                        <p class='campo'>Intestatario</p>
                        {% if banca %}
                            {{ banca.nome}} {{ banca.cognome }}
                        {%else%}
                            **** ****
                        {% endif %}
                    </div>
                    <div class='col-6'>
                        <p class='campo'>IBAN</p>
                        {% if banca %}
                            {{ banca.iban }}
                        {%else%}
                            ************************** 
                        {% endif %}
                    </div>
                    <div class='col-3'>
                        <p class='campo'>Banca</p>
                        {% if banca %}
                            {{ banca.banca }}
                        {%else%}
                            ****
                        {% endif %}
                    </div>                 
                </div>

                <div class='row paragrafo'>
                    <div class='col-10'>
                        <p>Metodo di pagamento</p>
                    </div>
                    <div class='col-2 text-center'>
                        <div class='row w-75'>
                            <div class='col-6'>
                                <button type='button' onclick="location.href = '/utente/account/elimina/carta'" class='btn btn-danger'><i class="bi bi-trash-fill"></i></button>
                            </div>
                            <div class='col-6'>
                                <button type='button' class=' btn btn-secondary' onclick="location.href = '/utente/account/modifica/carta'"><i class='bi bi-pencil'></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-3'>
                        <p class='campo'> Intestatario</p>
                        {% if carta%}
                            {{ carta.nome}} {{ carta.cognome }}
                        {%else%}
                            **** ****
                        {% endif %}
                    </div>
                    <div class='col-3'>
                        <p class='campo'>Numero</p>
                        {% if carta %}
                            {{ carta.numero }}
                        {%else%}
                            **** **** **** ****
                        {% endif %}
                    </div>
                    <div class='col-3'>
                        <p class='campo'>Scadenza</p>
                        {% if carta %}
                            {{ carta.scadenzaMese }}/{{ carta.scadenzaAnno }}
                        {%else%}
                            ** / **
                        {% endif %}
                    </div>
                    <div class='col-3'>
                        <p class='campo'>CVV</p>
                        {% if carta %}
                            {{ carta.cvv }}
                        {%else%}
                            ***
                        {% endif %}
                    </div>                 
                </div>
                <div class='col-12 text-center'>
                    <button type='button' class='pulsanti btn btn-danger mt-4' onclick="location.href = '/utente/account/elimina/account'">Elimina account</button>
                </div>
            </div>
            <div class='col-md-2'>
            </div>
        </div>
    </div>
{% endblock %}