{% extends 'base.html' %}
{% block head %}
    {% load crispy_forms_tags %}
    {% load static %}
    <link rel='stylesheet' href="{% static '/css/form.css' %}">
{% endblock %}
{% block title %}Login{% endblock %}
{% block content %}

    <div class='container'>
        <div class='row'>
            <div class='col-md-3'>
            </div>
            <div class='col-md-6' id='form'>
                <div class='row'>
                        <h2 class='text-center'>Modifica</h2>
                    <form method='POST' enctype="multipart/form-data">{% csrf_token %}
                        {{form|crispy}}
                        <div class='row mx-auto text-center'>
                            <div class='col-12'>
                                <button type='button' onclick="location.href = '/utente/account'" class='pulsanti btn btn-danger'><i class="bi bi-arrow-left"></i></button>
                                <button type='submit' class='pulsanti btn btn-dark'>Modifica</button>
                            </div>
                        </div>
                    </form>
                    <div id='messaggi'>
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.tags == 'success' %}
                                    <div class='alert alert-success' role='alert'>
                                {% else%}
                                    <div class='alert alert-danger' role='alert'>
                                {% endif %}
                                    {{message}}
                                </div>
                            {% endfor %}
                        {% endif %}
                </div>
            </div>
            <div class='col-md-3'>
            </div>
        </div>
    </div>
{% endblock %}